In [21]:
class Test:
    
    def __init__(self):
        self._x = 0
    
    @property
    def x(self):
        return self._x
    
    @x.setter
    def x(self, value):
        print(f'setting x to {value}')
        self._x = value
        
    @x.deleter
    def x(self):
        print(f'resetting x')
        self._x = 0
        
    def __repr__(self):
        return str(self.x)

In [22]:
t = Test()

In [1]:
from lib.tools import *

In [11]:
hud = Hud('test')
hud2 = Hud(id=hud.id)

  b
  6

  b
  6

  b
  6

In [13]:
hud['b'] = 6

In [10]:
hud({'c': 6}, index='test')

In [ ]:
display(display_id=